*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --marrom: #A35139;
    --azul: #264653;
    --verde: #2A9D8F;
    --branco: #FFFFFF;
    --preto: #000000;
    --font1: 400 1.5rem "Krona One", sans-serif;
    --areia: #E9C46A;
}

body, html{
    width: 100dvw;
    height: 100dvh;
}

body{
    background-color: var(--marrom);
    display: flex;
    justify-content: space-between;
    position: relative;
}

header{
    width: 36%;
    border-bottom-right-radius: 50px;
    height: 10%;
    background-color: #FFFFFF;
}

#control{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;

}

#logo{
    font-family: Krona One, sans-serif;
    display: flex;
    font-size: 1.5rem;
}

#naveg{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#naveg button{
    border: 0;
    background-color: #FFFFFF;
    color: #264653;
}

#detalhe_b{
    height: 100%;
    width: 25%;
    background-color: #FFFFFF;
    align-self: flex-end;
    justify-self: flex-end;
}

#proj_form{
    width: 53%;
    height: 87%;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: 1px solid var(--azul);
    position: absolute;
    z-index: 3;
    align-self: center;
    box-shadow: 34px 34px 7px 0 rgba(0, 0, 0, 0.25);
    margin-left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#conteudo{
    width: 87%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#conteudo p{
    font-family: Jost, sans-serif;
    font-size: 1.8rem;
    text-align: center;
}

#conteudo button{
    height: 11%;
    width: 9%;
    border-radius: 90%;
    object-fit: contain;
    border: 0;
    background-color: #E9C46A;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fields{
    width: 100%;
    height: 6%;
    border-radius: 15px;
    border: 1px solid #264653; 
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Jost, sans-serif;
    font-size: 1rem;
}