*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --marrom: #A35139;
    --azul: #264653;
    --verde: #2A9D8F;
    --branco: #FFFFFF;
    --preto: #000000;
    --font1: 400 16px "Krona One", sans-serif;
}

body, html{
    width: 100dvw;
    height: 100dvh;
}

#menu{
    width: 100%;
    height: 50%;
    background-color: var(--marrom);
    border-radius: 0 0 50px 0;
    display: flex;
    
}

#logo{
    display: flex;
    margin-left: 2%;
    color: var(--branco);
    font: var(--font1);
}